.speech {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: black;
}
.direction{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    background-color: rgb(200,200,200);
}
.direction:hover{
    color: purple;
    background-color: limegreen;
}
.name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.name:hover{
    text-shadow: 2px 2px 5px rgba(0, 255, 38, 0.5);
    border: 2px solid rgb(196, 136, 32);
}

.yasha{
    color: rgb(174, 174, 1);
}
.gaev{
    color: green;
}
.lubov{
    color: lightcoral;
}
.lopakhin{
    color: lime;
}

.trofimov{
    color: tomato;
}

table {
    border-collapse: collapse;
    width: 500px;
    margin: 20px;
}

th {
    background-color: coral;
    text-align: left;
    border: 5px solid black;
    padding: 8px;
}

td {
    border: 2.5px solid blue;
    padding: 8px;
    text-align: left;
}

tr:nth-child(odd){
    background-color: aquamarine;
}

tr:nth-child(even){
    background-color: aqua;
}
